<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGCircleScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB8970681DDE93010007F5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB89707C1DDE93010007F5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB8970871DDE93010007F5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
